.secondary-button{
    background: #FA0098;
    padding: 20px;
    border-radius: 50%;
    border:none;
    color:white;
    font-size:1.25rem;
    cursor: pointer;
    a{
        text-decoration: none;
        color:white;
    }
    img{
        height:25px;
    }
}

.disabled{
    opacity:0.25;
    cursor:not-allowed;
}