@import '../../styles/utils/breakpoints.scss';

.label{
    display:flex;
    flex-direction: column;
    width: 300px;
    margin-bottom:50px;
    > span{
        display: inline-block;
        margin-bottom:10px;
        color:#555555;
    }
    @include breakpoint(xs){
        max-width:100%;
        align-items: center;
    }
}

.row{
    flex-direction: row;
    align-items: center;
    margin-bottom:0;
    > span{
        margin:0;
        margin-right:10px;
    }
    @include breakpoint(xs){
        justify-content: space-evenly;
        margin-bottom:10px;
    }
}