@import "../../styles/utils/breakpoints.scss";

.num-image{
    max-height:200px;
    @include breakpoint(xs){
        max-height: 85px;
    }
}

.invisible-preload-images{
    visibility: hidden;
    position:fixed;
    left:-100%;
}