.text-input-field{
    font-size:1.25rem;
    position:relative;
    background:white;
    padding:15px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border:none;
    outline: none;
}