@import '../styles/utils/breakpoints.scss';

.layout-wrapper{
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: relative;
    @include breakpoint(xs){
        min-height: 100vh;
        height:auto;
    }
}

.text-line-through{
    position: relative;
}

.music-button{
    position:fixed;
    bottom:50px;
    right:50px;
    @include breakpoint(xs){
        bottom:10px;
        right:10px;
    }
}

.text-line-through::after{
    content:'';
    width:calc(100% + 10px);
    height:2px;
    transform:translate(-50%, -50%) rotate(20deg);
    position:absolute;
    top:50%;
    left:50%;
    background: white;
}